parameters:
  ignoreErrors:
    - identifier: missingType.generics
    - identifier: missingType.iterableValue
    - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
  level: max
  reportUnmatchedIgnoredErrors: false
