@font-face {
  font-family: 'BebasNeueRegular';
  src: url("bebasneue-webfont-webfont.eot");
  src: url("bebasneue-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("bebasneue-webfont-webfont.ttf") format("truetype"), url("bebasneue-webfont-webfont.woff") format("woff"), url("bebasneue-webfont-webfont.svg#bebas_neueregular") format("svg");
  font-style: normal;
  font-weight: normal;
}
