/* moj styl*/
/* palette des couleurs: E97507 orange, E9A307 orange jaune, 16369E bleu fonce,087A8F bleu vert*/
 /* modification de marge du corps de texte*/
p 

{

margin-top: 0pt;

margin-right: 5pt;/* modifié: avant 0pt*/

margin-bottom: 1.5em;

margin-left: 0pt;

line-height: 1.3em;

}
/* FIN: modification de marge du corps de texte*/

/* début: modif Titre dans display suite et groupe de champs  */
div.group_aire_util span a {

font-size: 18px;
font-weight: 700;

}
/* FIN: modif Titre dans display suite et groupe de champs*/
/* DEBUT: modif Titre et marge entre deux blocs*/
.field .field-label  

{

font-weight: bold;
margin-top: 10pt;/* AVANT:rien*/

}
/* DEBUT: modif Titre dans form.css ligne 45*/
 label, .field-label  

{

text-transform: None;/* AVANT:uppercase*/

font-weight: bold;

font-size: 18px;/* AVANT:16px*/


}
/* FIN: modif Titre dans form.css ligne 45*/
h2 { font-size: 1.8em; line-height: 1.1em; margin-bottom: 0.75em;font-weight: 700;
}
h2.teaser-title {
    font-size: 18px;/* avant 2.6em*/
    font-weight: 700;
    letter-spacing: 0px;	/* avant -1px*/
}
a, a:visited, li a.active {
    color: #354279; /* BLEU FONCE :avant 07436a */
    text-decoration: none;
}
a:hover (ligne 18)

{

color: #163e55;/* BLEU FONCE :avant 07436a */

}
#footer1, #footer2, #footer3, #footer4 {
  float: left;
  width: 25%;
}
/* changement marges d'un bloc*/
label,
.field-label{
	margin-bottom:5px;
	color:#BD3C1F;/* BLEU FONCE :avant 07436a */
	/*margin-top:15px;
	avant: sans couleur;#087a8f vert bleu*/
}

/* fin changement marges d'un bloc*/
 /* style de logo, footer; color: white;*/
.outsidecontent a, .outsidecontent li a.active, #header-images a, #navigation-secondary a 

{

color: #354279; /* BLEU FONCE avant:color: white;*/

}
.outsidecontent#topBar a{
	color:#BD3C1F; /*color:yellow;*/
}

color: white; /* color: white;*/

}
 /* fin de style de footer*/
/* style pour colorbox*/
.field-name-field-image-gallery-1 img,
.field-name-field-image-gallery-2 img {
  display: block;
  margin: 0;
}

.field-name-field-image-gallery-1,
.field-name-field-image-gallery-2 {
  /*float: right;*/
  float: left;
  clear: right;
  padding-left: 10px;
}

.field-name-field-image-gallery-2 {
  width: 320px;
}

.field-name-field-image-gallery-2 img {
  float: left;
  padding: 10px 10px 0 0;
}

.field-name-field-image-gallery-2 .field-item:nth-child(3n-2) img {
  padding-right: 9px;
}

.field-name-field-image-gallery-2 .field-item:nth-child(3n+3) img {
  padding-right: 0;
}
/* fin de style pour colorbox*/

/*slideshow dans style: slideshow.css, pour colorbox*/
.field-slideshow-slide img {
  display: block;
  margin: 0;
}

.field-slideshow-caption {
  background: #000;
  color: #fff;
  padding: 5px;
}

.field-name-field-slideshow-image {
  margin-bottom: 1em;
}

#field-slideshow-0-wrapper {
  position: relative;
}

#field-slideshow-0-pager {
  position: absolute;
  right: 60px;
  bottom: 5px;
  z-index: 99;
}


#field-slideshow-0-pager a {
  color: #fff;
  padding: 0 2px;
  margin-left: 4px;
  border: 1px solid transparent;
}

#field-slideshow-0-pager a:hover {
  color: #000;
  border-color: #fff;
  background: #fff;
  text-decoration: none;
}

#field-slideshow-0-pager .activeSlide {
  border-color: #fff;
}

#header-image-navigation a 

{

float: left;

width: 1em;

height: 1em;

line-height: 0.85em;

margin-right: 3px;

margin-left: 3px;

}
a#header-image-prev:hover, a#header-image-next:hover 

{

background-color: white; /* INITIAL:background-color: #f97e05;*/

}
/* fin slideshow*/

/*
 * Bartik floats taxonomy terms.
 * In the header, with field grouping the float must be cleared.
 j'ai ajouté: font-weight: 700;
*/
.ui-accordion h3.ui-accordion-header { overflow:hidden;
font-weight: 700; }

/*
 * Fix issues with anchor tags for rdf in field items within the headers
 */
.ui-accordion .ui-accordion-header .field-items a { padding: 0 0.5em 1em 1.9em; }

/*mise en page de page de plantes*/
.pays-chapitre {
font-weight: normal;
 }

.pays-chapitre .field-label {
color: #000;/*#07436a*/
font-weight: 700;
font-size: 1.2em;/* 14px*/
/*text-transform:uppercase;*/}

.soustitre-chapitre {
font-weight: normal;
 }

.soustitre-chapitre  .field-label {
color: #000000;
font-weight: 700;
font-size:14px;
text-transform:none;}

.fieldset-legend.fieldset-title{
color: #000000;
font-weight: 700;
font-size:14px;
text-transform:none;}
.fieldset-title{
color: #000000;
font-weight: 700;
font-size:18px;
text-transform:none;
color: #BD3C1F;}

/*mise en page dtitre des tableaux*/
thead th {
    background: none repeat scroll 0 0 #D2D97D;
}
/*mise en page de zone de recherche*/
#search .form-submit {
    background: none repeat scroll 0 0 #C8C8C8;
    border: 4px solid #cccccc;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
.form-submit:focus, #block-user-login .form-submit:focus  

{

background-color: #BD3C1F;
}
#search .form-submit:focus, #search .form-submit:hover 

{

background-color: #BD3C1F;
}

/* modification de taille de colonnes dans display suite ds_3col_equal*/
.group-left  

{

width: 33%;/*width: 33%;*/

float: left;
margin-right: 10px;/* ajouté*/

}
.group-middle  /*ligne 7*/

{

width: 34%;

float: left;
margin-left: 10px;/* ajouté*/

}
.group-right /*(ligne 12)*/

{

width: 30%; /*width: 33%;*/

float: right;

}
/**
 * @file
 * Styling for the ds-3col-equal template.
 Modification du style ds ..\sites\all\modules\ds\layouts\ds_3col_equal_width\ds_3col_equal_width.css*/
 */

.ds-3col-equal > .group-left {
  width: 33%;
  float: left; /* LTR */
}

.ds-3col-equal > .group-middle {
  width: 33%;/*initialement  width: 34%*/
  float: left; /* LTR */
}

.ds-3col-equal > .group-right {
  width: 30%;/*initialement width: 33%*/
  float: right; /* LTR */
}
/* FIN DE modification de taille de colonnes dans display suite ds_3col_equal*/

fieldset.collapsible /*modules/system/system.theme.css?lsp3bx(ligne 55)*/

{

position: relative;
margin-top:15px; /*ajouté*/
/*padding-top: 10px;:*/
}

/*feedback */



#block-feedback-form .feedback-link {
	
    /*height: 16px;*//* 16px*/
    font-size: 0.8em;
    font-weight: 700;
    /*padding: 0.3em 0;*/
	/*margin: 0.3em 0;*/
	padding: 0 0;
    text-align: right;/*right*/
}
#block-feedback-form .feedback-link {
   /*background: transparent url(images/feedback_simple.gif) no-repeat right center; */
   background-color: #C8C8C8;
   margin: 1px 1px 1px 1px;
   opacity: 0.8;
   /*border: 1px solid #FFFFFF;*/
}
#block-feedback-form .feedback-help {
    font-size: 12px;/*10px*/
    line-height: normal;
    margin: 0 0 0.5em;
}
.boxshadow  #block-feedback-form {
    box-shadow: 0 0 6px #051B32;
}
#block-feedback-form {
    /*bottom: 60px;*/
	bottom: 10px;
	opacity: 0.9;
    display: none;
    overflow: hidden;
    position: fixed;
    right: 20px;
    z-index: 10;
	background-color: #C8C8C8;
}
 /*fin modif feedback*/
  /*debur modif style IE  A FAIRE!!!!*/
  #navigation-primary > ul > li > h2 > a, #navigation-primary > ul > li > a {
    background: none repeat scroll 0 0 #CCCCCC;/* #156AA3*/
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
#navigation-primary > ul > li > a.active, #navigation-primary > ul > li > h2 > a.active {
    background: none repeat scroll 0 0 #666666;
    color: #FFFFFF;
}
/*modif largeur bloc fil d'ariane, */
#contentWrapper {
    float: left;
    padding: 25px 5px 25px 5px;
    position: relative;
    z-index: 1;
}
/*fin modif bloc fil d'ariane*/